.span-one {
    float: left;
    font-size: 13px;
}

.span-two {
    float: left;
    font-size: 13px;
    width: 250px;
}

.span-three {
    font-size: 12px;
    float: right;
    position: absolute;
}
